<div class="col-xs-12 enter-list-item" ng-show="!showDelete" ng-swipe-left="showDelete = true">
    <a href="#{{nextLevel}}/{{listItem.name}}" class="list-item-btn btn col-xs-12 btn-lg btn-block btn-no-rad">{{listItem.name | firstCharUpper}} <span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
<div class="col-xs-12" ng-show="showDelete" ng-swipe-right="showDelete = false">
    <div class="row delete-list-item">
        <div class="col-xs-9"><p class="text-danger">Deleting this item will also delete any data associated with it.</p></div>
        <div class="col-xs-3"><button ng-click="deleteListItem($event, {{listItem.id}})" class="btn btn-danger btn-lg btn-no-rad pull-right"><span class="glyphicon glyphicon-trash"></span></button></div>
    </div>
</div>